.App {
  text-align: center;
}

.main-wrapper{
  border-radius: .75rem !important;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.good-border{
  border: 2px solid #dee2e6;
  box-sizing: content-box;
  margin:-2px;
}

.drag-box{
  width:100px;
  height:100px;
  border: 2px solid;
}

.forbox{
  width: 300px;
  border: 2px black dashed;
}

.drag-elem:hover{
  cursor: grab;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner .path{
  stroke: hsl(210, 70%, 75%);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.bg-right{
  background-color: #c4ffd5 !important;
}

.table-head{
  height: 40px;
}

.drag-elem{
  /*background-color: aliceblue;*/
}
